<h3>Bucket Types ({{cluster_id}} cluster)</h3>

<table class="table">
    <thead>
        <tr>
            <th>Bucket Type</th>
            <th>Active?</th>
            <th>allow_mult</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
{{#each bt in model.bucketTypes}}
        <tr>
            <td>{{bt.id}}</td>
            <td>{{bt.props.active}}</td>
            <td>{{bt.props.allow_mult}}</td>
            <td>{{#link-to 'bucket_type' (query-params cluster_id=cluster_id bucket_type_id=bt.id) classNames='btn btn-sm btn-primary' }}Details{{/link-to}}</td>
        </tr>
{{else}}
  No bucket types. Have you specified a node?
{{/each}}
    </tbody>
</table>
