<div class="container">
    <div class="row">
        <div class="col-md-12"><h3>Cluster: {{model.cluster.clusterId}}</h3></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Status:
            <strong>
            {{#if model.cluster.developmentMode}}
            Development Mode
            {{else}}
            Production Mode
            {{/if}}
            </strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><h4>Explore</h4></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Bucket Types</h5>
            {{#bucket-types clusterId=model.cluster.clusterId
                bucketTypes=model.bucketTypes}}{{/bucket-types}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><h4>Search</h4></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#if model.indexes}}
                <h5>Search Indexes</h5>
                {{#search-indexes indexes=model.indexes
                    clusterProxyUrl=model.cluster.proxyUrl}}
                {{/search-indexes}}
            {{else}}
                No search indexes found.
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Nodes</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Node</th>
                <th>Ping</th>
                <th>Stats</th>
            </tr>
        </thead>
        <tbody>
    {{#each model.nodes as |node|}}
      {{riak-node node=node}}
    {{else}}
      No nodes detected.
    {{/each}}
        </tbody>
    </table>
        </div>  <!-- <div class="col-md-12"> -->
    </div>  <!-- <div class="row"> -->
</div>
