<h2 class="page-header" id="title">{{pageTitle}}</h2>

<h3>Service Information</h3>

<strong>Name:</strong> {{model.service}}<br />
<strong>Ping:</strong>
{{#if model.pingResult.ping}}Available ({{model.pingResult.ping.message}})
{{else}}Unavailable{{/if}}<br />
<strong>Development Mode:</strong> {{model.propsResult.props.development_mode}}<br />

<h3>Routes</h3>

<table class="table">
    <thead>
        <tr>
            <th>Path</th>
            <th>Resources</th>
        </tr>
    </thead>
    <tbody>
{{#each model.routes as |route|}}
        <tr>
            <td>{{route.links.self}}</td>
            <td>[{{route.resources}}]</td>
        </tr>
{{/each}}
    </tbody>
</table>
