<h4>Key List</h4>

<div class="container">
    <div class="row">
        <div>
            Bucket:
            <strong>{{model.bucket.bucketId}}</strong>
            (cluster: {{#link-to 'cluster' (query-params cluster_id=model.bucket.clusterId)}}
                {{model.bucket.clusterId}}{{/link-to}}
            /
            type: {{#link-to 'bucket_list' (query-params cluster_id=model.bucket.clusterId
                    bucket_type_id=model.bucket.bucketTypeId)}}
                {{model.bucket.bucketTypeId}}{{/link-to}})
        </div>
    </div>
</div>
{{#if model.isLoaded}}
    <div class="container" style="margin-top: 2em;">
        <div class="row">
            <div>
            Cache created: {{model.created}}
            {{#if model.cluster.developmentMode}}
                {{refresh-keys action="refreshKeys" keyList=model}}
            {{/if}}
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 2em;">
        Displaying
        <strong>{{model.count}}</strong>
        keys out of
        <strong>{{model.total}}</strong>
        total.
    </div>

    <div class="container" style="padding-top: 2em;">
        {{#riak-keys deleteObject="deleteObject" keys=model.keys}}{{/riak-keys}}
    </div>
{{else}}
    <div class="container" style="padding-top: 2em; text-align: center;">
    Loading...
    </div>
{{/if}}
