<div class="container">
    <div class="row">
        <div class="col-md-12">
            <strong>{{model.object_key}}</strong>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
            in
            <b>{{model.cluster_id}}</b> cluster
            /
            <b>{{model.bucket_type_id}}</b> bucket type
            /
            <b>{{model.bucket_id}}</b> bucket
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            Loaded: {{model.headers.date}}
        </div>
        <div class="col-md-4">
            Deleted:
            {{#if model.headers.x-riak-deleted}}
            <strong>Yes</strong>
            {{else}}
            No
            {{/if}}
        </div>
    </div>
</div>
<table class="table" style="margin-top: 2em;">
    <thead>
        <tr>
            <th>Header</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ETag:</td>
            <td>{{model.headers.etag}}</td>
        </tr>
        <tr>
            <td>Causal Context:</td>
            <td>{{model.headers.x-riak-vclock}}</td>
        </tr>
    </tbody>
</table>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <strong>Contents</strong>
            <a href="{{model.url}}" class="btn btn-xs btn-primary">View raw</a>
        </div>
        <div class="col-md-4">
            Content Type: <b>{{model.headers.content-type}}</b>
        </div>
        <div class="col-md-4">
            Last Modified: <b>{{model.headers.last-modified}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>
