<div class="container">
    <div class="row">
        <div class="col-md-8">
            <strong>{{model.obj.key}}</strong>
        </div>
        <div class="col-md-4">
            Deleted:
            {{#if model.obj.isDeleted}}
                <strong>Yes</strong>
            {{else}}
                No
                {{delete-object action="deleteObject" object=model.obj}}
            {{/if}}
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
            in
            {{#link-to 'cluster' (query-params cluster_id=model.obj.clusterId)}}
                {{model.obj.clusterId}}{{/link-to}} cluster
            /
            {{#link-to 'bucket_list' (query-params cluster_id=model.obj.clusterId
                    bucket_type_id=model.obj.bucketTypeId)}}
                {{model.obj.bucketTypeId}}{{/link-to}} bucket type
            /
            {{#link-to 'key_list' (query-params cluster_id=model.obj.clusterId
                    bucket_type_id=model.obj.bucketTypeId
                    bucket_id=model.obj.bucketId)}}
                {{model.obj.bucketId}}{{/link-to}} bucket

        </div>
    </div>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <strong>Last Modified:</strong>
            {{model.obj.dateLastModified}}
        </div>
    </div>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{#object-headers headers=model.obj.headersIndexes
                title='Secondary Indexes'}}{{/object-headers}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#object-headers headers=model.obj.headersCustom
                title='Custom Headers'}}{{/object-headers}}
        </div>
    </div>

</div>

<br />
<div class="container">
    <h4>Contents</h4>
    <div class="row">
        <div class="col-md-2">
            <a href="{{model.url}}" class="btn btn-xs btn-primary">View raw</a>
        </div>
        <div class="col-md-5">
            Content Type: <b>{{model.obj.contentType}}</b>
        </div>
        <div class="col-md-5">
            Page loaded: {{model.obj.dateLoaded}}
        </div>
    </div>
</div>
<br />
{{#if model.obj.contents}}
<pre><code>{{model.obj.contents}}</code></pre>
{{/if}}

<br />
<div class="container">
    <h4>Version Details</h4>

    <div class="row">
        <div class="col-md-7">
            <strong>Causal Context:</strong>
            {{model.obj.causalContext}}
        </div>
        <div class="col-md-5">
            <strong>ETag:</strong>
            {{model.obj.etag}}
        </div>
    </div>
</div>
