<div class="crumb-trail">
    {{link.link-cluster cluster=model.cluster}}
    /
    <div class="cluster-resource-header center-block">
        <span class="glyphicon glyphicon-inbox cluster-resource-icon"
            aria-hidden="true"></span>
        <span>{{model.bucketTypeId}}</span>
    </div>
</div>

<div class="container bucket-properties center-block">
{{#if model.props}}
    {{bucket-properties model=model title='Bucket Type'}}
{{else}}
    Properties not loaded.
{{/if}}
</div>

<h4>Bucket List</h4>

{{#if model.isBucketListLoaded}}
    <div class="container" style="margin-top: 2em;">
        <div class="row">
            <div>
            Cache created: {{model.bucketList.created}}
            {{#if model.cluster.developmentMode}}
                {{button.refresh-buckets action="refreshBuckets" bucketType=model}}
            {{/if}}
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 2em;">
        Displaying
        <strong>{{model.bucketList.count}}</strong>
        buckets out of
        <strong>{{model.bucketList.total}}</strong>
        total.
    </div>

    <div class="container" style="padding-top: 2em;">
        {{#riak-buckets bucketList=model.bucketList cluster=model.cluster
            bucketTypeId=model.bucketTypeId}}
        {{/riak-buckets}}
    </div>
{{else}}
    {{loading-spinner}}
{{/if}}
