<h3>Bucket Type Properties: {{model.bucketTypeId}}</h3>

{{crumb-trail model=model}}

<div class="container bucket-properties center-block">
{{#if model.props}}
    {{bucket-properties model=model}}
{{else}}
    Properties not loaded...
{{/if}}
</div>

<table class="table">
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
{{#each model.propsList as |prop|}}
        <tr>
            <td>{{prop.key}}</td>
            <td>{{prop.value}}</td>
        </tr>
{{/each}}
    </tbody>
</table>
