<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="cluster-resource-header center-block">
                <img src="assets/images/riak.png" class="cluster-resource-icon" />
                <span>
                    {{model.clusterId}}
                    {{#if model.developmentMode}}(Dev){{/if}}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Explore</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Active Bucket Types</h5>
            {{#if model.activeBucketTypes}}
                {{#bucket-types clusterId=model.clusterId
                    bucketTypes=model.activeBucketTypes}}{{/bucket-types}}
            {{else}}
            <div class="container">No bucket types have been activated.</div>
            {{/if}}
        </div>
    </div>
    {{#if model.inactiveBucketTypes}}
    <div class="row">
        <div class="col-md-12">
            <h5>Inactive Bucket Types</h5>

                {{#bucket-types clusterId=model.clusterId
                    bucketTypes=model.inactiveBucketTypes}}{{/bucket-types}}
        </div>
    </div>
    {{/if}}
    <div class="row">
        <div class="col-md-12"><h4>Search</h4></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#if model.indexes}}
                <h5>Search Indexes</h5>
                {{#search-indexes indexes=model.indexes
                    clusterProxyUrl=model.proxyUrl}}
                {{/search-indexes}}
            {{else}}
                No search indexes found.
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Nodes</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Ping</th>
                <th>Stats</th>
                <th>Node</th>
            </tr>
        </thead>
        <tbody>
    {{#each model.nodes as |node|}}
      {{riak-node node=node}}
    {{else}}
      No nodes detected.
    {{/each}}
        </tbody>
    </table>
        </div>  <!-- <div class="col-md-12"> -->
    </div>  <!-- <div class="row"> -->
</div>
