<table class="table">
<thead>
    <tr>
        <th>Name</th>
        <th>n_val</th>
        <th>Object Type</th>
        <th>Conflict Res. Strategy</th>
    </tr>
</thead>
<tbody>
{{#each bucketTypes as |bt|}}
    <tr>
        <td>
            {{#link-to 'bucket-type' bt
                    classNames='btn btn-xs btn-primary' }}
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Properties{{/link-to}}
            <a href="/cluster/{{clusterId}}/bucket_type/{{bt.bucketTypeId}}/buckets"
                class="btn btn-xs btn-primary">Bucket List</a>

            {{bt.bucketTypeId}}
        </td>
        <td>
            {{bt.nVal}}
        </td>
        <td>
            {{bt.objectType}}
        </td>
        <td>
            {{bt.resolutionStrategy}}
        </td>
    </tr>
{{/each}}
</tbody>
</table>
