<div class="row property-row">
    <div class="col-sm-4">
        <strong>Object type</strong><br />
        {{props.objectType}}
    </div>
    <div class="col-sm-4">
        <strong>Conflict Res. Strategy</strong><br />
        {{props.resolutionStrategy}}
    </div>
    <div class="col-sm-4">
        <strong>Quorum</strong><br />
        N_Val: {{props.nVal}} <br />
        {{#if props.quorumRelevant}}
            R: {{props.quorum.r}}, W: {{props.quorum.w}},
            PR: {{props.quorum.pr}}, PW: {{props.quorum.pw}},<br />
            DW: {{props.quorum.dw}}
            <small>(basic_quorum: {{props.quorum.basic_quorum}},
                notfound_ok: {{props.quorum.basic_quorum}})</small>
        {{/if}}
    </div>
</div>

{{#if props.isSearchIndexed}}
<div class="row property-row">
<div class="col-sm-4">
    <strong>Search Index</strong><br />
    {{props.searchIndexName}}
</div>
<div class="col-sm-4">
    <strong>Search Schema</strong><br />
    <a href="{{props.cluster.clusterProxyUrl}}/search/schema/{{props.index.schema}}">
        {{model.index.schema}}</a>
</div>
<div class="col-sm-4">
    <strong>Index N_Val</strong><br />
    {{model.index.n_val}}
</div>
</div>
{{else}}
<div class="row property-row">
    <div class="col-sm-12">
        <div class="disabled">
        <strong>Search Index</strong><br />
        n/a (not being indexed)
        </div>
    </div>
</div>
{{/if}}

{{#if props.warnings}}
<div class="row property-row">
    <div class="col-sm-12">
        <strong class="warning">Warnings</strong>
        <ul>
        {{#each props.warnings as |warning|}}
            <li><strong>{{warning}}</strong></li>
        {{/each}}
        </ul>
    </div>
</div>
{{/if}}
