<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
            in
            {{#link-to 'cluster' model.cluster}}
                {{model.clusterId}}{{/link-to}} cluster
            {{#if model.bucketTypeId}}
                /
                <a href="/cluster/{{model.clusterId}}/bucket_type/{{model.bucketTypeId}}/buckets">
                    {{model.bucketTypeId}}</a> bucket type
            {{/if}}
            {{#if model.bucketId}}
                /
                {{#link-to 'key_list' (query-params cluster_id=model.clusterId
                        bucket_type_id=model.bucketTypeId
                        bucket_id=model.bucketId)}}
                    {{model.bucketId}}{{/link-to}} bucket
            {{/if}}
        </div>
    </div>
</div>
