<div class="container">
    <div class="object-contents">
        <div class="object-contents-header">
            <div class="object-contents-info">
                {{#if isEditing}}
                    <form class="form-inline">
                        <div class="form-group">
                            <label for='contentType'>Content Type:</label>
                            {{input value=model.metadata.contentType
                                id='metadata.contentType' class="form-control"}}
                        </div>
                    </form>
                {{else}}
                    <b>{{model.metadata.contentType}}</b>
                {{/if}}
            </div>
            <div class="object-contents-actions">
              {{object-actions model=model isEditing=isEditing
                  deleteObject="deleteObject"}}
            </div>
        </div>
        <div class="object-contents-body">
            {{#if isEditing}}
                <form>
                    <div class="form-group">
                    {{textarea class="form-control" value=model.contents rows=20
                        autofocus=true}}
                    </div>
                    <button type="button" class="btn btn-md btn-primary"
                            {{action 'saveObject' model}}>
                        Save</button>
                </form>
            {{else}}
                {{#if model.contentsForDisplay}}
                <code>{{model.contentsForDisplay}}</code>
                {{/if}}
            {{/if}}
        </div>
        <div class="object-contents-footer">
            <strong>Page loaded:</strong> {{model.metadata.dateLoaded}}
        </div>
    </div>
</div>
<br />
