<div class="container">
    <div class="crumb-trail">
    {{link-cluster cluster=object.cluster}}
    /
    {{link-bucket-type bucketType=object.bucketType}}
    /
    {{link-bucket bucket=object.bucket}}
    /
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="cluster-resource-header center-block">
                <span class="glyphicon glyphicon-tag cluster-resource-icon"
                    aria-hidden="true"></span>
                <span>{{object.key}}</span>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{#if isEditing}}
                (Editing)
                <br />
                {{#link-to 'riak-object' object
                        classNames='btn btn-xs btn-default' }}
                    Cancel{{/link-to}}
            {{else}}
                {{edit-object object=object}}
            {{/if}}
        </div>
        <div class="col-md-6">
            Deleted:
            {{#if object.isDeleted}}
                <strong>Yes</strong>
            {{else}}
                No
                {{#unless isEditing}}
                    {{delete-object action="deleteObject" object=object}}
                {{/unless}}
            {{/if}}
        </div>
    </div>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <strong>Last Modified:</strong>
            {{object.dateLastModified}}
        </div>
        <div class="col-md-6">
            Page loaded: {{object.dateLoaded}}
        </div>
    </div>
</div>
