<div class="container">
    <div class="object-contents">
        <div class="object-contents-header">
            <div class="object-contents-info">
                Set
                ({{model.contentsForDisplay.length}} elements)
            </div>
            <div class="object-contents-actions">
              {{object-actions model=model isEditing=isEditing
                  deleteObject="deleteObject"}}
            </div>
        </div>
        <div class="object-contents-body">
          <form class="form-inline">
              {{#if model.contentsForDisplay}}
              <div class="container set-contents-list">
                  {{#each model.contentsForDisplay as | element |}}
                      <div class="row set-element-row">
                          <div class="col-md-1">
                            {{button.set-element-remove model=model item=element
                                removeElement="removeElement"}}
                          </div>
                          <div class="col-md-11">
                              <span class="set-element">{{element}}</span>
                          </div>
                      </div>
                  {{/each}}

                  <div class="row set-element-row">
                      <div class="col-md-1"></div>
                      <div class="col-md-11">
                          {{input value=elementToAdd class="form-control"}}
                          <button type="button" class="btn btn-sm btn-primary"
                                  {{action 'addElement' model}}>
                              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                              Add</button>
                      </div>

                  </div>
              </div>
              {{/if}}
          </form>
        </div>
        <div class="object-contents-footer">
            <strong>Page loaded:</strong> {{model.metadata.dateLoaded}}
        </div>
    </div>
</div>
<br />
