<table class="table">
<thead>
    <tr>
        <th>Index Name</th>
        <th>Schema</th>
        <th>n_val</th>
    </tr>
</thead>
<tbody>
{{#each indexes as |index|}}
    <tr>
        <td>{{index.name}}</td>
        <td>
            <a href="{{clusterProxyUrl}}/search/schema/{{index.schema}}">{{index.schema}}</a>
        </td>
        <td>{{index.n_val}}</td>
    </tr>
{{else}}
    No indexes found.
{{/each}}
</tbody>
</table>
